# # Byte-compiled / optimized / DLL files
*__pycache__*


# Environments
.env
.venv
testenv/
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/*
models/
wandb/

ncc-logs/
model_preds/
TrainModels/
my_package.egg-info/
archive/
scripts/