autopep8==2.0.1
bertviz==1.4.0
colorama==0.4.6
evaluate==0.3.0
fastapi==0.89.1
httptools==0.5.0
inflect==6.0.2
ipykernel==6.19.2
itsdangerous==2.1.2
lxml==4.9.1
matplotlib==3.6.2
my-package==0.0.1
nltk==3.7
pip-chill==1.0.1
portalocker==2.6.0
python-dotenv==0.21.1
pytorch-lightning==1.8.4
scikit-learn==1.2.0
tabulate==0.9.0
tensorflow==2.11.0
tf-slim==1.1.0
uvicorn==0.20.0
uvloop==0.17.0
wandb==0.13.5
watchfiles==0.18.1
websockets==10.4
